* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 75px;
    width: 100%;
    /* background-color: hsl(194, 96%, 46%); */
     background-image: radial-gradient(#035e63, #4da674, #c1e6ba, #eaf8e7);
    box-shadow: 0 2px 2px 5px white;
    display: flex;
}

.logo-1 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 35px;
    color: #040274;
    font-family: cursive;
}

.icons {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon>li,a {
    font-size: 22px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-family: serif;


}

.head-container {
    height: 680px;
    width: 100%;
    margin-top: 4px;
    /* background-image: linear-gradient(#035e63, #4da674, #c1e6ba, #eaf8e7); */
     background-image: radial-gradient(#035e63, #4da674, #c1e6ba, #eaf8e7);
    display: flex;
    gap: 330px;

}

.name {
    height: 300px;
    width: 60%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.name>h1 {
    font-size: 70px;
    font-weight: bolder;
    font-family: cursive;
    color: whitesmoke;
    padding-top: 50px;

}

.name>p {
    color: azure;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
}

.name>h1,
p {
    padding-left: 180px;
}

.photo {
    height: 350px;
    width: 35%;
    padding-top: 60px;
}

.photo>img {

    border-radius: 50%;
}


.about {
    padding-top: 100px;

}

.about>h1 {
    color: #035e63;
    font-size: 30px;
    font-family: cursive;
    padding-left: 60px;
    padding-top: 5px;
}

.about>p {

    font-size: 20px;
    font-family: cursive;
    padding-left: 170px;
    padding-top: 2px;
}

.education {
    height: 680px;
    width: 100%;
    margin-top: 6px;
}

.edu {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #4da674;
}

.edu>h1,
i {
    font-family: sans-serif;
    font-size: 40px;
}

.colleges {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: whitesmoke;
}


.colleges>.degree {
    height: 25%;
    width: 80%;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #c1e6ba;
    box-shadow: 0 0 5px 2px #c1e6ba;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.degree>i {
    padding-left: 40px;
    color: black;
}

.degree>p {
    font-size: 25px;
    padding: 3px 0 0 40px;
    color: black;

}

.skill-container {
    height: 500px;
    width: 100%;
    margin-top: 80px;
     background-image: radial-gradient(#035e63, #4da674, #c1e6ba, #eaf8e7);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-container>h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: cursive;
    color: whitesmoke;
}

.skill-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.skill1 {
    height: 120px;
    width: 120px;
    background-color: white;
    box-shadow: 0 0 5px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: serif;
}

.project-container{
    height: 660px;
    width: 100%;
    margin-top: 20px;
     background-image: radial-gradient(#035e63, #4da674, #c1e6ba, #eaf8e7);
    
}
.project-container>h1{
    text-align: center;
    color: black;
    font-family: cursive;
}
.project-container>p{
    color: black;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;

}
.all-cards{
    display: flex;
    justify-content: space-evenly;
}
.card-container{
    height: 400px;
    width: 600px;
    background-color: white;
    box-shadow: 0 0 5px 2px gray;
    /* margin-left: 100px; */
}
.card-container>h2{
    padding: 15px;
    font-size: 26px;
    font-family: cursive;
}
.card-container>p{
    padding-left: 15px;
    font-size: 20px;
    font-family: sans-serif;
}
.card-container>ul{
    padding: 25px 0 0 50px;
    font-family: sans-serif;
    font-size: 20px;
    list-style-type: square;
}
.btn{
    display: flex;
    gap: 5px;
    padding: 25px;
}

.btn>.html{
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
    
}
.btn>.css{
    background-color: orange;
    color: black;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
}
.btn>.stweb{
    background-color: rgb(5, 5, 77);
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
}
.btn .live{
    background-color: whitesmoke;
    color: rgb(6, 6, 253);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
}




.contact-main{
    height: 700px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#035e63, #4da674, #c1e6ba, #eaf8e7);
}
.contact-main>h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.contact-container{
    height: 500px;
    width: 40%;
    padding-top: 50px;
    background-color: #c1e6ba;
    box-shadow: 0 0 5px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.contact-container>input{
    height: 50px;
    width: 76%;
    font-size: 20px;

}
.contact-container>textarea{
    height: 80px;
    width: 76%;
    font-size: 18px;
}
.contact-container>button{
    padding: 10px;
    font-weight: bolder;
   color: white;
    background-color: blue;
    border-radius: 8%;
}
.resume{
    margin-top: 50px;
    padding: 20px;
    background-image: linear-gradient(120deg,#035e63, #4da674, #c1e6ba, #eaf8e747);
    font-weight: bolder;
    font-size: 16px;
    border-radius: 5%;
}

.footer{
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}